header {
  
  background-image: url("https://cdn.pixabay.com/photo/2014/11/17/05/25/saint-peters-basilica-534336_960_720.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  padding: 40px 10px;
  min-height:100vh;
  width:100%;
  margin:0;
  background-position:center;
 
}

body{
  background-color:#FFF7D6!important;
  margin:0!important;
}

  
.title {
  color:rgb(249, 246, 250);
  text-align:left;
  font-family: 'Satisfy', cursive;
  font-size: 8em;
  margin-top:150px;
  margin-left:250px;
 
}
@media (max-width:740px){
    
  .title {
    font-size:100px!important;
    }
    
  }
 

@media (max-width:640px){
.title {
    font-size:50px!important;
  }
}




@media(max-width:640px) {
  nav {
    width:100%;
  }

   
}

nav a {
    font-size:30px;
    font-size:bold;
    
}

@media (max-width:740px){
  nav a{
    font-size:20px;
    font-weight:bold;
    }
}
  

    nav a{
      font-size:10px;
      font-weight: bold;
    }
  





header ul {
  display: flex;
  justify-content: space-around;
  background-color:#160808;
  top:0;
  color: white;
  position:fixed;
  z-index:20;
  width:100%;
  height:60px;
  opacity:0.9;
  right: 0;
  left:0;
  margin:0;
  padding:0;
  align-items:center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
}
header li{
  color:white;
  list-style:none;
}
header ul:hover {
  opacity:1;
}
li a:hover {
  font-weight: bold;
  color:white;
  text-decoration: none;
  font-size:1.3em;
}
header li a, header li a:hover {
  color:#FFF;

}
  /*carousel*/

.carousel-container{
  display:flex;
  align-items:center;
  justify-content:center;
  padding: 100px;
}
  
  
/*boostrap cards*/

h2 {
  font-family: 'Open Sans Condensed', sans-serif!important;
  text-align:center;

}


h3{
  font-family: 'Open Sans Condensed', sans-serif!important;
}

.btn {
  float:right;
  margin-right:300px;
  
}
.horizontalcard{
  margin-top: 50px;
  padding:0 50px;
}
    
.card {
  margin:0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

  
footer {
  display:inline-flex;
  

}


.footer{
  color:#160808;
  font-weight:bold;
  font-size:30px;
  
  }

.social{
  display:inline-flex;
  min-width:100%;
  align-items: center;

}

  .girls{
    display:flex;
  }
  
  .girls a{
    padding:30px;
  }
  