body {
    width: 100%;
    background-color: #FFF7D6;
    margin: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
}

/*navigation bar*/

header ul {
    display: flex;
    justify-content: space-around;
    background-color: #160808;
    color: white;
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 60px;
    opacity: 0.8;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 1.2em;
    text-decoration: none;
}

header li {
    color: white;
    text-decoration: none;
    list-style: none;
}

header ul:hover {
    opacity: 1;
}

li .nav:hover {
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}

header li .nav, header li .nav:hover {
    color: #FFF;
}

/*Main Heading*/

.titleBackground {
    background-image: url("https://images.unsplash.com/photo-1509644048338-b1556adf4131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 500px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

.subtitleAttractions {
    font-family: 'Satisfy', cursive;
    color: #8A2000;
    font-size: 2em;
    text-align: right;
    margin-right: 90px;
    padding-top: 120px;
}

.titleAttractions {
    font-family: 'Satisfy', cursive;
    font-size: 6.5em;
    color: #8A2000;
    text-align: right;
    margin-right: 90px;
}

/*Headings styling*/

h2 {
    font-family: 'Bitter', serif;
    font-size: 30px;
    font-weight: bold;
    color: #8A2000;
}

h3 {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Chivo', cursive;
    font-size: 1.4em;
}

/*General sections styling*/

section {
    display: block;
    margin: 100px auto;
    width: 75%;
}

.history, ol {
    display: block;
    text-align: justify;
    padding-top: 30px;
}

/*Top Attractions Section*/

#topAttractions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto;
}

.attraction {
    height: 550px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 0px 12px #160808;
    color: white !important;
    text-decoration: none;
    transition: transform .3s cubic-bezier(.26, .8, .91, .91);
    overflow: hidden;
}

.attraction:hover .image {
    transform: scale(1.2);
}

.attractionDescription {
    padding: 30px 30px;
    background-color: #1d1d0d;
}

.attractionDescription:hover {
    padding: 30px 30px;
    color: white !important;
    text-decoration: none;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.image {
    border-radius: 10px 10px 0 0;
    height: 375px;
    width: 350px;
}

/*Curiosities Section*/

#curiosities {
    padding: 20px;
}

.interrogationImg {
    height: 300px;
    width: 300px;
    margin-top: 125px;
    margin-left: 15px;
    float: left;
}

#curiosities .curiositiesList {
    display: block;
    margin-left: 400px;
    margin-top: 50px;
}

#curiosities li {
    padding: 5px 0;
}